<div class="hero_area">
    <div class="bg-box">
      <img src="../../assets/images/1navbar.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
        
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container " aria-label="Ninth navbar example">
          <a class="navbar-brand" routerLink="/homepage">
            <span>
              Feane
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample07XL">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item active">
                <a class="nav-link" routerLink="/homepage">Home <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/addmenu">Add Menu <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/addFood">Food <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/restoprofile">Profile <span class="sr-only"></span></a>
              </li>
             
              
            </ul>
            <div class="user_option">
              <a routerLink="/login" class="order_online">
                Login
              </a>
            </div>
            <div class="user_option">
              <a routerLink="/register" class="order_online">
                Register
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    
